.item {
    display: flex;
    align-items: center;

    // gap: 10px;
}

.link {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 10px;

     // max-width: 100%;
    opacity: 1;
    transition:
        //max-width 0.3s ease,
        opacity 0.4s ease;
}

.collapsed {
     // width: var(--sidebar-width-collapsed);

    .link {
        opacity: 0;
        max-width: 0;
        pointer-events: none;
    }
}

.itemRedesigned {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 16px;
}

.collapsedRedesigned {
    padding: 0 8px;

    .link {
        opacity: 0;
        max-width: 0;
        pointer-events: none;
        margin: 0;
    }
}

.active {
    background: linear-gradient(89.97deg, rgb(29 89 255 / 30%) 1.15%, rgb(94 211 243 / 0%) 99.97%);
    position: relative;

    &::before {
        content: "";
        position: absolute;
        width: 2px;
        left: 0;
        background: var(--accent-redesigned);
        height: 100%;
    }
}